@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Nunito:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	* {
		font-family: 'Nunito', sans-serif;
	}

	.font-inter {
		font-family: 'Inter', sans-serif;
	}

	.project {
		@apply hover:scale-105 text-center w-full py-4 hover:font-bold bg-gray-50 text-black hover:text-white dark:bg-[#212121] dark:text-white hover:bg-[#101010] dark:hover:bg-gray-50 dark:hover:text-black transition-all ease-in
	}

	/* width */
	::-webkit-scrollbar {
		width: 8px;
		height: 4px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: transparent;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: rgb(73, 73, 73);
		border-radius: 5px;
		border: 3px solid transparent;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: rgb(131, 131, 131);
	}

	.no-scroll::-webkit-scrollbar {
		width: 0px;
	}

	.bg-split {
		background-image: linear-gradient(to right, #101010, #101010 0%, #1a1a1a 0%);
		background-attachment:fixed;
		background-repeat: no-repeat;
	}

	body {
		background-color: #101010
	}

	.animate-delay-1 {
		animation-delay: 0.05s;
	}

	.animate-delay-2 {
		animation-delay: 0.1s;
	}

	.animate-delay-3 {
		animation-delay: 0.15s;
	}

	.animate-delay-4 {
		animation-delay: 0.2s;
	}

	.animate-delay-5 {
		animation-delay: 0.2s;
	}

	.orbit {
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;
		-webkit-animation-name: orbit;
		-webkit-animation-duration: 10s;
		-moz-animation-iteration-count: infinite;
		-moz-animation-timing-function: linear;
		-moz-animation-name: orbit;
	}

	.orbit-forward {
		animation-direction: normal;
	}

	.orbit-backward {
		animation-direction: reverse;
	}

	.orbit-stop {
		animation-play-state: paused;
	}

	.animation-delay {
		animation-delay: 0.5s;
	}

	.animation-delay-1 {
		animation-delay: 1s;
	}

	.animation-delay-1-5 {
		animation-delay: 1.5s;
	}

	.animation-delay-2 {
		animation-delay: 2s;
	}

	.animation-delay-2-5 {
		animation-delay: 2.5s;
	}

	.icon-l1 {
		@apply pointer-events-none absolute top-0 left-0 w-[500px] h-[500px] rounded-full bg-transparent orbit orbit-forward group-hover:orbit-stop;
	}

	.icon-l2 {
		@apply pointer-events-initial hover:scale-110 orbit orbit-backward group-hover:orbit-stop absolute top-[140px] group-hover:top-[115px] left-0 w-[30px] h-[30px] group-hover:w-[50px] group-hover:h-[50px] bg-gray-200 dark:bg-[#101010] rounded-full transition-all ease-in duration-300 flex justify-center items-center;
	}

	.mobile.icon-l1 {
		@apply rounded-full;
	}

	@-webkit-keyframes orbit { 
		from { -webkit-transform:rotate(0deg) } 
		to { -webkit-transform:rotate(360deg) } 
	}
	@-moz-keyframes orbit { 
		from { -moz-transform:rotate(0deg) } 
		to { -moz-transform:rotate(360deg) } 
	}

	.pointer-events-initial {
		pointer-events: initial;
	}
}